<!DOCTYPE html>
<html>
<head>
    <title>Регистрация студента</title>
</head>
<body>
<form action="/cabinet" method="post" enctype="multipart/form-data">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" required><br><br>

    <label for="age">Возраст:</label>
    <input type="number" id="age" name="age" required><br><br>

    <label for="avatar">Аватар:</label>
    <input type="file" id="avatar" name="avatar"><br><br>

    <input type="submit" value="Зарегистрировать">
</form>
</body>
</html>
